body {
        background-image: url("../images/escheresque_ste.png");
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

    a {
        text-decoration: none;
        color: #777;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Georgia', Times, Times New Roman, serif;
    }
    
    h1 {
        font-size: 24px;
    }
    
    p,
    ul li {
        color: #777;
    }
    
    div#body-wrapper {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    
    header {
        width: 100%;
        background-color: rgb(255, 255, 255);
        border-bottom: 2px solid #ccc;
        color: #fff;
    }
    
    div#header-wrapper,
    div#content-wrapper,
    div#footer-wrapper {
        width: 960px;
        max-width: 960px;
        margin: 0 auto;
        padding: 0;
    }
    
    div#header-wrapper h1#logo {
        background-color: #4AAAA5;
    }
    
    div#header-wrapper h1#logo,
    div#header-wrapper nav {
        padding: 20px;
    }
    
    div#header-wrapper h1#logo,
    div#header-wrapper nav,
    div#header-wrapper nav ul,
    div#header-wrapper nav ul li {
        display: inline-block;
    }
    
    div#header-wrapper nav ul li:nth-of-type(2n + 0) {
        color: #ccc;
    }
    
    div#header-wrapper nav {
        float: right;
        color: #777;
    }
    
    section.panel {
        box-sizing: border-box;
        float: left;
        min-height: 100px;
        padding: 0 20px 20px;
        margin-top: 20px;
        border: 1px solid #ddd;
        background-color: rgb(255, 255, 255);
    }
    
    section.panel h1 {
        border-bottom: 2px solid rgb(200, 200, 200);
        padding: 20px 0;
        margin-bottom: 20px;
    }
    
    section.panel h1,
    section.panel h3 {
        color: #4AAAA5;
    }
    
    section.panel h3 {
        border-bottom: 1px solid rgb(200, 200, 200);
        padding: 10px 0;
        font-size: 18px;
    }
    
    section.panel.content {
        width: 650px;
        display: inline-block;
    }
    
    section.panel.connect-with-me {
        width: 275px;
        margin-left: 25px;
    }

    section.panel.connect-with-me img {
        width: 67px;
        max-width: 67px;
        float: left;
        margin: 15px 15px 0 0;
    }
    
    section.panel.connect-with-me a:last-of-type img {
        margin-right: 0;
    }
    
    footer {
        width: 100%;
        background-color: #666;
        border-top: 5px solid #4AAAA5;
        position: fixed;
        bottom: 0;
        text-align: center;
    }
    
    footer div#footer-wrapper p {
        padding: 20px;
        font-size: 12px;
        color: #fff;
    }


    /* ~~~~~ About Styles ~~~~~ */

    section.panel.content img.about {
        width: 200px;
        max-width: 200px;
        float: left;
        display: inline;
        margin-right: 10px;
        border: 1px solid rgb(200, 200, 200);
    }
    
    section.panel.content p {
        margin-bottom: 20px;
        line-height: 30px;
    }


    /* ~~~~~ Portfolio Styles ~~~~~ */
    
    section.panel h1 {
        border-bottom: 2px solid rgb(200, 200, 200);
        padding: 20px 0;
        margin-bottom: 20px;
    }
    
    section.panel h1,
    section.panel h3 {
        color: #4AAAA5;
    }
    
    section.panel h3 {
        border-bottom: 1px solid rgb(200, 200, 200);
        padding: 10px 0;
        font-size: 18px;
    }
    
    section.panel.content {
        width: 650px;
        display: inline-block;
        margin-bottom: 100px;
    }
    
    section.panel.content figure {
        width: 250px;
        max-width: 250px;
        height: 200px;
        float: left;
        margin-right: 100px;
        margin-bottom: 20px;
        border: 1px solid rgb(200, 200, 200);
    }

    section.panel.content figcaption {
        position: relative;
        top: 150px;
        margin: 0 auto;
        text-align: center;
        background-color: #4AAAAC;
        padding: 10px;
        color: #fff;
        box-shadow: 0px 5px 3px rgba(0,0,0,0.9);
    }

    section.panel.content img {
        box-shadow: 0px 5px 3px rgba(0,0,0,0.9);
    }

    section.panel.content figure img {
        display: inline;
        width: 100%;
        height: 100%;
    }

    section.panel.content figure:nth-of-type(2n + 0) {
        margin-right: 0;
    }


    /* ~~~~~ Contact Styles ~~~~~ */
    
    section.panel.content div {
        padding: 5px 10px 5px 0;
    }
    
    section.panel textarea {
        height: 150px;
    }
    
    section.panel.content label {
        line-height: 24px;
        font-size: 14px;
        color: #555;
    }
    
    section.panel.content form input,
    section.panel.content form textarea {
        border: 1px solid #ddd;
        width: 100%;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 12px;
        padding: 5px;
    }
    
    section.panel.content form button {
        background-color: #4AAAA5;
        border: 1px solid #ccc;
        color: #fff;
        padding: 5px 15px;
    }